<%- include('partials/header.ejs'); -%>

<!-- THI IS THE PURPLE BOX ON TOP -->
<div class="box" id="heading">
  <!-- THIS CONTAINS THE DATE AND THE LOGOUT ICON -->
  <div class="date-logout-icon-container">
        <!-- THIS SHOWS THE DATE LIKE Thursday, June 19, 2025 -->
        <h1 id="date"></h1>
        
        <!-- THIS IS THE LOGOUT ICON -->
        <form action="/logout" method="POST">
          <button type="submit" class="logout-icon" title="Logout"></button>
        </form>
  </div>

  <!-- THIS IS THE TIME LIKE  13:00 -->
  <div id="time"></div>

  <!-- THIS SHOWS THE PROGRESS BAR FOR WHEN A PERSON DELETES ITEMS FROM THEIR LIST -->
  <progress id="file" value="<%= progresBar %>" max="100"> </progress>


</div>

<!-- THIS CONTAINS THE DROPDOWN FILTER AND THE BOX THAT WE ADD ITEMS -->
<div class="dropdown-box-container">
  
    <!-- THIS IS THE DROPDOWN FILTER -->
    <div class="dropdown">
      <!-- <label for="filter-category">Choose by category:</label> -->
      <button class="dropbtn">Choose by category ▼</button>
      <div class="dropdown-content">
        <a href="/categories?name=School/Work">School/Work</a>
        <a href="/categories?name=Groceries">Groceries</a>
        <a href="/categories?name=Personal">Personal</a>
      </div>
    </div>

    <!-- THIS IS THE BOX WHERE WE ADD THE ITEMS AND EVERYTHING ELSE WE WANT LIKE CATEGORY OR IMPORTANCE -->
    <div class="box">

      <% for(let item of listItems){%>

        <!-- THIS IS THE PART THAT THE ITEMS ARE SHOWN AND ADDED TO THE LIST -->
        <div class="new-item">
          <!-- THIS IS THE DELETE CHECKBOX AFTER I ADDED A NEW ITEM ON THE LIST -->
          <form action="/delete" method="post">
            <input class="delete" type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
            <input type="hidden" name="deleteItemCategory" value="<%= item.category %>">
          </form>


          <!-- THIS IS USED TO SHOW THE IMPORTANCE TO ITEMS (IF IT WAS ADDED BEFORE) AND THE TILTTE OF THE ITEMI ADDED TO THE LIST -->
          <p>
            <%= item.title %>
            <% if (item.importance==1) { %>
              <span class="flag">⭐</span>
            <% } %>
          </p>

          <!-- THIS IS USED TO CREATE THE TIME THAT A TASK WAS ADDED -->
          <p class="timestamp">
            Created at: <%= new Date(item.created_at).toLocaleString('en-US', {
              weekday: 'long', year: 'numeric', month: 'long',
              day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'
            }) %>
          </p>

          <!-- THIS IS THE PENCIL THAT EDITS THE ITEMS THAT WERE ADDED -->
          <form class="edit" action="/edit" method="post">

            <!-- Hidden input that holds the item's unique ID -->
            <!-- This value will be submitted with the form so the server knows which item to update -->
            <input type="hidden" name="updatedItemId" value="<%= item.id %>">

            <!-- Hidden input that holds the item's category -->
            <!-- This is also submitted with the form to help the server categorize the update -->
            <input type="hidden" name="itemCategory" value="<%= item.category %>">

            <!-- Text input used for updating the item's title -->
            <!-- Initially hidden (using 'hidden' attribute); can be shown with JavaScript when editing starts -->
            <!-- The 'id' attribute includes the item's ID to uniquely identify this specific input in the DOM -->
            <input id="input<%= item.id %>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off" hidden>


            <!-- THIS IS THE ✔️ SYMBOL TO UPDATE CHANGES -->
            <button id="done<%=item.id%>" class="edit" type="submit" hidden>
              <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
            </button>

          </form>
          
          <!-- THIS IS USED FOR BEFORE THE EDIT HAPPENS THE PENCIL -->
          <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
        </div>
      <% } %>

          <!-- THIS IS THE ADD BUTTON TO ADD A NEW ITEM TO THE LIST -->
          <form class="item" action="/add?category=<%= selectedCategory || '' %>" method="post">

            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />

            <!-- Category selection -->
            <div class="navbar">
              <div class="dropdown">
                  <!-- Category selection -->
                  <label for="category-select">Save under category:</label>
                  <!-- <label for="category" class="test">Categories</label> -->
                  <select name="category" class="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="School/Work">School/Work</option>
                    <option value="Groceries">Groceries</option>
                    <option value="Personal">Personal</option>
                  </select>
              </div>
            </div>

            <!-- Importance checkbox -->
            <input type="checkbox" id="important" value="1" name="importance">
            <label for="important" class="important-label">Mark as important</label>

            <!-- THIS IS THE SUBMIT BUTTON -->
            <button class="add" type="submit" name="list">+</button>
          </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/date_time.js"></script>
<script src="/js/complete_message.js"></script>
<script src="/js/dropdown_filter.js"></script>
<script src="/js/edit_button.js"></script>


  <%- include('partials/footer.ejs'); -%>
